################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
ReactApplicationExample/bin/ReactApplicationExample.dll
ReactApplicationExample/bin/ReactApplicationExample.pdb
ReactApplicationExample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReactApplicationExample/obj/Debug/ReactApplicationExample.csproj.CoreCompileInputs.cache
ReactApplicationExample/obj/Debug/ReactApplicationExample.csproj.FileListAbsolute.txt
ReactApplicationExample/obj/Debug/ReactApplicationExample.csprojAssemblyReference.cache
ReactApplicationExample/obj/Debug/ReactApplicationExample.csprojResolveAssemblyReference.cache
ReactApplicationExample/obj/Debug/ReactApplicationExample.dll
ReactApplicationExample/obj/Debug/ReactApplicationExample.pdb
ReactApplicationExample/ReactApplicationExample.csproj.user
